header {
  height: 400px;
  color: #fcfffe;
}

nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: flex-end;
  color: #fbf6d4;
  column-gap: 100px;
  padding: 40px;
  font-size: 20px;
}

.title {
  display: flex;
  font-size: 60px;
  width: 40%;
  flex-wrap: wrap;
  padding: 30px 0 0 100px;
}
